force-app/main/default/flows/Flag_leads_as_spam.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_one_to_spam_email_counter</name>
        <label>Add one to spam email counter</label>
        <locationX>1576</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>Get_this_spam_email_record.Use_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_this_spam_email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_lead_as_spam</name>
        <label>Set lead as spam</label>
        <locationX>1580</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>Get_lead_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_lead_as_spam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_status_as_spam</name>
        <label>Set status as spam</label>
        <locationX>801</locationX>
        <locationY>897</locationY>
        <assignmentItems>
            <assignToReference>Get_lead_record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spam</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_lead_status_to_Spam</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_lead_have_an_email_address</name>
        <label>Does lead have an email address?</label>
        <locationX>1129</locationX>
        <locationY>357</locationY>
        <defaultConnectorLabel>No, it does not have an email address</defaultConnectorLabel>
        <rules>
            <name>Yes_it_has_an_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead_record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_email_domain_bad</targetReference>
            </connector>
            <label>Yes, it has an email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_this_spam_email_already_exist</name>
        <label>Does this spam email already exist?</label>
        <locationX>1568</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Create_spam_email_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it does not exist</defaultConnectorLabel>
        <rules>
            <name>Yes_it_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_this_spam_email_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_one_to_spam_email_counter</targetReference>
            </connector>
            <label>Yes, it exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_website_contact_us_contain_spam_word</name>
        <label>Does website contact us contain spam word</label>
        <locationX>904</locationX>
        <locationY>523</locationY>
        <defaultConnector>
            <targetReference>Loop_through_spam_words</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it does not</defaultConnectorLabel>
        <rules>
            <name>Yes_it_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead_record.Website_Contact_Us_Message__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SpamWord.Word_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_status_as_spam</targetReference>
            </connector>
            <label>Yes, it does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_domain_bad</name>
        <label>Is email domain bad</label>
        <locationX>1367</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>Get_this_spam_email_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, it is good</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_bad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_lead_record.Email_Domain__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>russia.ru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_lead_as_spam</targetReference>
            </connector>
            <label>Yes, it is bad</label>
        </rules>
    </decisions>
    <interviewLabel>Flag leads as spam {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flag leads as spam</label>
    <loops>
        <name>Loop_through_spam_words</name>
        <label>Loop through spam words</label>
        <locationX>320</locationX>
        <locationY>500</locationY>
        <assignNextValueToReference>SpamWord</assignNextValueToReference>
        <collectionReference>Get_spam_words</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_website_contact_us_contain_spam_word</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_lead_have_an_email_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_spam_email_record</name>
        <label>Create spam email record</label>
        <locationX>1839</locationX>
        <locationY>668</locationY>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Get_lead_record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_Count__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>Spam_Email__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_lead_record</name>
        <label>Get lead record</label>
        <locationX>50</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_spam_words</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Website_Contact_Us_Message__c</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Email_Domain__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_spam_words</name>
        <label>Get spam words</label>
        <locationX>49</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_spam_words</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Spam_Word__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Word_Text__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_this_spam_email_record</name>
        <label>Get this spam email record</label>
        <locationX>1376</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_this_spam_email_already_exist</targetReference>
        </connector>
        <filters>
            <field>Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_lead_record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Spam_Email__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Use_Count__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_lead_status_to_Spam</name>
        <label>Set lead status to Spam</label>
        <locationX>1138</locationX>
        <locationY>900</locationY>
        <connector>
            <targetReference>Does_lead_have_an_email_address</targetReference>
        </connector>
        <inputReference>Get_lead_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_as_spam</name>
        <label>Update lead as spam</label>
        <locationX>1723</locationX>
        <locationY>350</locationY>
        <inputReference>Get_lead_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_this_spam_email</name>
        <label>Update this spam email</label>
        <locationX>1576</locationX>
        <locationY>1086</locationY>
        <inputReference>Get_this_spam_email_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Get_lead_record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SpamWord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Spam_Word__c</objectType>
    </variables>
</Flow>
